<fieldset class="fieldset admin__fieldset">
    <table>
        <tr class="field field-name" >
            <td>
                <label class="label admin__field-label" ><span>Likes</span></label>
            </td>
            <td class="control">
                <input id="upLikes" value="<?php echo $block->getUpLikesSize(); ?>" class="input-text admin__control-text" type="text">
            </td>
        </tr>

        <?php if(!empty($block->getUpLikesSize())): ?>
        <tr class="field field-name" >
            <td>
                <label class="label admin__field-label" ><span>Who Liked: </span></label>
            </td>
            <td class="control">
                <select class="select multiselect admin__control-multiselect" multiple>
                    <?php foreach ($block->getUpLikesEmails() as $email) : ?>
                        <option value=""><?php echo $email; ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr>
        <?php endif; ?>

        <tr class="field field-name" >
        </tr>

        <tr class="field field-name" >
            <td>
                <label class="label admin__field-label" ><span>DisLikes</span></label>
            </td>
            <td class="control">
                <input id="downLikes" value="<?php echo $block->getDownLikesSize(); ?>" class="input-text admin__control-text" type="text">
            </td>
        </tr>

        <?php if(!empty($block->getDownLikesSize())): ?>
        <tr class="field field-name" >
            <td>
                <label class="label admin__field-label" ><span>Who DisLiked: </span></label>
            </td>
            <td class="control">
                <select class="select multiselect admin__control-multiselect" multiple>
                    <?php foreach ($block->getDownLikesEmails() as $email) : ?>
                        <option value=""><?php echo $email; ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr>
        <?php endif; ?>
    </table>
</fieldset>
