<?php
    $animation = $this->getAnimation();

    $divide = $this->getDivide();
    $border = $this->getBorder();
    $activeButton = $this->getActiveButton();
    $textSize = $this->getTextSize();
    $textFont = $this->getTextFont();
    $backgroundColor = $this->getBackgroundColor();

    $likeButtonShow = $this->getLikeButtonShow();
    $likeTitleShow = $this->getLikeTitleShow();
    $likeTitle = $this->getLikeTitle();
    $likeCounter = $this->getLikeCounter();

    $dislikeButtonShow = $this->getDisLikeButtonShow();
    $dislikeTitleShow = $this->getDisLikeTitleShow();
    $dislikeTitle = $this->getDisLikeTitle();
    $dislikeCounter = $this->getDisLikeCounter();

    $counterType = $this->getCounterType();
    $counterForm = $this->getCounterForm();

    $counterAnimation = $this->getCounterAnimation($counterType);

    $valueArr = $this->getLikeValue();

    $actionDislike = 'dislike_off';
    $actionLike = 'like_off';

    if (isset($valueArr['value'])) {
        if ($valueArr['value'] == "1") {
            $actionDislike = 'dislike_off';
            $actionLike = 'like_on';
        }
        if ($valueArr['value'] == "-1") {
            $actionDislike = 'dislike_on';
            $actionLike = 'like_off';
        }
        if ($valueArr['value'] == "0") {
            $actionDislike = 'dislike_off';
            $actionLike = 'like_off';
        }
    }

    $likeCss = $this->getLikeCss();
    $likeNum = $this->getLikeNum($counterType, $counterForm);
    $baseUrl = $this->getBaseUrl();
    $productId = $this->getProductId();
?>
<?php if ($likeButtonShow || $dislikeButtonShow) : ?>
<div class="" >

    <?php if ($likeButtonShow) : ?>
        <div class="like_conteiner" >
            <div data-action = "like" class="like_block" >
                <div id="like" class="activated_like_element like_element like <?php echo $actionLike ?>" >&nbsp;</div>
                <?php if ($likeCounter) : ?>
                    <div id="num_like" class=" <?php echo ($activeButton ? '' : 'activated_like_element') ?>  like_element numlike_element <?php echo $counterAnimation ?>"><?php echo $likeNum['count_up_like'] ?></div>
                <?php endif; ?>
                <?php if ($likeTitleShow) : ?>
                    <div id="like_title" class=" <?php echo ($activeButton ? '' : 'activated_like_element') ?> like_element like_title"><?php echo $likeTitle;  ?></div>
                <?php endif; ?>
            </div>

    <?php if ($divide) : ?>
        </div>
    <?php endif; ?>

        <div class="like_devide"></div>

    <?php endif; ?>

    <?php if ($dislikeButtonShow) : ?>

    <?php if ($divide) : ?>
        <div class="like_conteiner" >
    <?php endif; ?>

            <div data-action = "dislike" class="dislike_block" >
                <div id="dislike" class="activated_like_element like_element dislike <?php echo $actionDislike ?>" >&nbsp;</div>
                <?php if ($dislikeCounter) : ?>
                    <div id="num_dislike" class="<?php echo ($activeButton ? '' : 'activated_like_element') ?>  like_element numlike_element <?php echo $counterAnimation ?>"><?php echo $likeNum['count_down_like'] ?></div>
                <?php endif; ?>
                <?php if ($dislikeTitleShow) : ?>
                    <div id="dislike_title" class="<?php echo ($activeButton ? '' : 'activated_like_element') ?>  like_element dislike_title"><?php echo $dislikeTitle;  ?></div>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

</div>
<?php endif; ?>
    <input id="like_value" hidden value="<?php echo $valueArr['value'] ?>" >

    <?php if (!empty($baseUrl)) { ?>
        <input type="hidden" value="<?php echo $baseUrl ?>" id="baseUrl"/>
    <?php } ?>
        
    <?php if (!empty($productId)) { ?>
        <input type="hidden" value="<?php echo $productId;  ?>" id="productId"/>
    <?php } ?>
    

    <style>
        .like_conteiner {
            border: 1px solid transparent;
            /*position: absolute;*/
            padding: 5px 9px;
            border-radius: 2px;
            float: left;
            <?php echo (!empty($backgroundColor) ? "background-color: {$backgroundColor};" : '') ?>
        }

        .like_conteiner:hover {
            <?php echo ($border ? 'border: 1px solid #ccc;' : '') ?>
        }

        .like_conteiner:hover > .like_devide {
            background: #ccc
        }

        .like_block, .dislike_block {
            align-items: center;
            display: flex;
        }

        .like_on{
            background-image: url('<?php echo (!empty($likeCss['like_on']) ? $likeCss['like_on'] : '') ?>');
        }

        .like_off{
            background-image: url('<?php echo (!empty($likeCss['like_off']) ? $likeCss['like_off'] : '') ?>');
        }

        .like_off:hover{
            background-image: url('<?php echo (!empty($likeCss['like_hover']) ? $likeCss['like_hover'] : $likeCss['like_off']) ?>');
        }

        .dislike_on{
            background-image: url('<?php echo (!empty($likeCss['dislike_on']) ? $likeCss['dislike_on'] : '') ?>');
        }

        .dislike_off{
            background-image: url('<?php echo (!empty($likeCss['dislike_off']) ? $likeCss['dislike_off'] : '') ?>');
        }

        .dislike_off:hover{
            background-image: url('<?php echo (!empty($likeCss['dislike_hover']) ? $likeCss['dislike_hover'] : $likeCss['dislike_off']) ?>');
        }

        .like_title, .dislike_title {

            width: 60px;
            text-transform: uppercase;
        }

        .like, .dislike {
            width: <?php echo (isset($likeCss['width']) ? $likeCss['width'] : '18')  ?>px;
            height: <?php echo (isset($likeCss['height']) ? $likeCss['height'] : '18')  ?>px;
        }

        .activated_like_element {
            cursor: pointer;
        }

        .like_element, .numlike_element {
            background-repeat: no-repeat;
            float: left;
            text-align: center;
            margin: 0 2px;
            <?php echo (!empty($textSize) ? "font-size: {$textSize}px;" : '') ?>
            <?php echo (!empty($textFont) ? "font-family: {$textFont};" : '') ?>
        }

        .like_devide {
            height: 20px;
            /*border-left: 1px solid #ccc;*/
            margin: 0 <?php echo ($divide ? '0' : '5')  ?>px;
            width: 1px;
            float: left;
        }

    </style>


<script>
require(['jquery'],function($){
    $( document ).ready(function() {
        $.baseUrl = $("#baseUrl").val();
        $.productId = $("#productId").val();

        $.clearLikeClasses = function (e) {
            $('.like_element').
                    removeClass('like_off').
                    removeClass('dislike_off').
                    removeClass('like_on').
                    removeClass('dislike_on');
        }

        $.setLikeClasses = function (e) {
            $('.dislike').addClass('dislike_off');
            $('.like').addClass('like_on');
        }

        $.setDislikeClasses = function (e) {
            $('.dislike').addClass('dislike_on');
            $('.like').addClass('like_off');
        }

        $.disableLikeClasses = function (e) {
            $('.dislike').addClass('dislike_off');
            $('.like').addClass('like_off');
        }

        $.getInfo = function (e) {
            var url = $.baseUrl + 'product_nice/like/info/product_id/' + $.productId;

            $.ajax({
                url: url,
                success: function(data) {
                    console.log(data);
                    $('#num_dislike').html(data.count_down_like);
                    $('#num_like').html(data.count_up_like);
                },
                type: 'GET'
            });
        }

        $.fn.likeSet = function (e, currVal) {
            var action = $(e.currentTarget).parent().data('action');

            // init disable
            if ((action == 'like' && currVal == 1) || (action == 'dislike' && currVal == -1)) {
                var url = $.baseUrl + 'product_nice/like/disable/product_id/' + $.productId;

                $.clearLikeClasses();
                $.disableLikeClasses();

                $('#like_value').val(0);
            }

            // init like
            else if (action == 'like') {
                var url = $.baseUrl + 'product_nice/like/like/product_id/' + $.productId;

                $.clearLikeClasses();
                $.setLikeClasses();

                $('#like_value').val(1);
            }

            // init dislike
            else if (action == 'dislike') {
                var url = $.baseUrl + 'product_nice/like/dislike/product_id/' + $.productId;

                $.clearLikeClasses();
                $.setDislikeClasses();

                $('#like_value').val(-1);
            }

            $.ajax({
                url: url,
                success: function(data) {
                    console.log(data);
                    $.getInfo();
                },
                type: 'GET'
            });
        };

        $('.activated_like_element').click(function(e){ // onclick current activated element
            <?php
                if(!$this->isCustomerLoggedIn()) {
                    $this->setCurrentUrl();

                    $logintUrl = $this->getUrl('customer/account/login');
                    echo "window.location.href = '{$logintUrl}';";
                    echo "return true;";
                }
            ?>

            var currVal = $('#like_value').val();
            var action = $(e.currentTarget).parent().data('action'); // get pointer of block(from parent div): like or dislike

            <?php if (isset($animation) && !empty($animation)) { ?> // animation buttons elements
                var options = {};
                var animation = "<?php echo $animation; ?>";

                if ( animation === "scale" ) {
                    options = { percent: 50 };
                } else if ( animation === "size" ) {
                    options = { to: { 'background-size': '2em' } };
                }

                var effectEl = '.' + action + '_block'; // animate all elements of appropreate block. Ex.: .like_block

                if (<?php echo ($activeButton ? 'true' : 'false') ?>) { // if system active_button enabled > animate activated element - current one.
                    effectEl = e.currentTarget;
                }

                $(effectEl).effect(animation, options, 500, function(){
                    $(effectEl).removeAttr( "style" ).fadeIn();
                });
            <?php } ?>

            $(e.currentTarget).likeSet(e, currVal);
        });

        $('.count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 2000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });

        //$.getInfo();
    });
});
</script>